*  {
    padding: 0; 
}

body {
    background-image: url(../images/background-image.jpg);
    background-size: 100%;
    margin: 0;
    text-decoration: none;
}

header {
background-color: white;
width: 100%;
margin: 0;
padding-top: 30px;
padding-bottom: 30px;
position: relative;
}

.name-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-shrink: 1;
  width: 100%;
}

.letter {
height: 5rem;  
transform: rotate(0deg);
transition: transform 0.3s ease-in-out;
width: 50px;
}

.letter:hover {
  transform: rotate(180deg);
  animation-name: revertAnimation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes revertAnimation {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}



/* straight across menu */
.menu {
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-weight: 300;
    letter-spacing: 0.1em;
    background-color: #FDE9FF;   
    width: 100vw;
    height: 6vh;
 
    justify-content: center;
    line-height: 6vh;
}



/* alternative floating menu

.menu {
font-family: 'Inter', sans-serif;
color: #000000;
font-weight: 300;
letter-spacing: 0.1em;
background-color: #FDE9FF;   
width: 95vw;
height: 8vh;
justify-content: center;
height: 8vh;
line-height: 8vh;
margin-top: 2rem;
margin-left: 1.5rem;
border-radius: 30px;
}

*/
  
.flex-container {
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

a {
    color: #000000;
    text-decoration: none;  
}

.statement {
  background-color: #7600FF;
  color: azure;
  font-family: 'Chakra Petch', sans-serif;
  width: 60vw;
  border-radius: 30px;
  height: 6vh;
  margin-left: 1.5rem;
  border-radius: 20px;
  padding-bottom: 5%;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 3%;
  position: fixed;
  bottom: 40px;
  left: 1rem;
  align-items: center;
}

.statement-flex {
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}

.statement-flex > div {
  margin-right: 5%;
}

.learn-more {
  border: solid white 1px;
  border-radius: 30px;
  width: 25vw;
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: small;
  letter-spacing: 0.1em;
  padding-left: 5%;
  padding-right: 2%;
}

.learn-more:hover {
  animation-name: divcolor;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  color: #000000;
}

.arrow {
  width: 16px;
  padding-left: 15%;
}

/* visited link */
a:visited {
    color: #000000;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: #000000;
    text-decoration: none;
    font-weight: 400;
  }
  
  /* selected link */
  a:active {
    color: #FF0000;
    text-decoration: none;
  }

#menu:hover {
animation-name: divcolor;
animation-duration: 6s;
animation-iteration-count: infinite;
animation-timing-function: ease-in;
animation-direction: alternate;
  }


  .circle-2 {
    background-color: #49FCE3; 
    border-radius: 50%;
    width: 10%;
    line-height: 0;
    
    /* --- circle 2 position--- */
    
    position: fixed;
    bottom: 50px;
    right: 30px;

     /*--- circle animation---*/
     animation-name: circle-translate-2;
     animation-duration: 4s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-in;
     animation-direction: alternate;

    } 
    
    .circle-2::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    
    .circle-3 {
    background-color: #fff200;
    opacity: 0.7;
    border-radius: 50%;
    width: 10%;
    line-height: 0;
    
    /* --- circle 3 position--- */
    
    position: fixed;
    bottom: 80px;
    right: 60px;

    /*--- circle animation---*/
    animation-name: circle-translate-1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;

    }
    
    .circle-3::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    
    .circle-1 {
        color: #000000;
        background-color: #FF0000;
        text-align: center;
        border-radius: 50%;
        width: 10%;
        line-height: 0;
    
    /* --- circle 1 position--- */
    
    position: fixed;
    bottom: 50px;
    right: 80px;
    z-index: 1;
    }


    
    /* --- CSS trick to make perfect responsive circle--- */
    
    .circle-1::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    
    .circle-text {
    color: #000000;
    background-color: #FF0000;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    }
    


    @keyframes circle-color {
        0% {background-color: #FDE9FF;}
        25% {background-color: #7600FF;}
        50% {background-color: #49FCE3;} 
        75% {background-color: #FCF202;} 
        100% {background-color: #FF0000;}
        }  
    
        @keyframes circle-rotate {
            from{ transform: rotate(-360deg); }
            to{ transform: rotate(360deg); }
    
        }    

        @keyframes circle-translate-1 {
            from {transform: translate(0rem, 0rem);}
            to {transform: translate(2rem, 2rem);}
        }

        @keyframes circle-translate-2 {
            from {transform: translate(0vw, 0vw);}
            to {transform: translate(-2rem, -2rem);}
        }




  /* menu animation code */

@keyframes divcolor {
  0% {background-color: #FDE9FF;}
  25% {background-color: #7600FF;}
  50% {background-color: #49FCE3;} 
  75% {background-color: #FCF202;} 
  100% {background-color: #FF0000;}
  }


